.image-gallery-slide img{
  height: 200px !important;
}

.szr-card{
  border-radius: 0 !important;
  border-bottom: 1px solid #aaa !important;
}

.szr-delete-btn{
  border: 1px solid #3E2723 !important;
  color: #3E2723;
}

.szr-delete-btn:hover{
  background-color: #3E2723;
  color: white;
}

.szr-no-image{
  background-image: url('/assets/dsgn/bg/door_sepia.jpg');
  min-width: 100%;
  min-height: 100%;
  height:200px;
  background-position:center;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;  
}

.szr-no-image span {
  margin:auto;
  font-weight: 200;
}

.react-photo-gallery--gallery div {    
  margin: 0 auto;
  width: 100%;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .szr-flat-item-header span{font-size: 1.5em;}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .szr-flat-item-header span{font-size: 1.5em;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .szr-flat-item-header span{font-size: 1.5em;}

}

/* Extra large devices (large desktops, 1200px and up)
// (you don't need this one unless you want something different from LG)
@media (min-width: 1200px) {
  html {
      font-size: 1.6rem;
  }
} */