.FlatFormRow{
  padding-top: 60px;
}

.FlatForm{
  background-image: url('/assets/dsgn/bg/doorknob.jpg');
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

//Width of the tab pane. We've got 6 tabs, so one tab will be
//of 100/6 % of the parent container width
.FlatForm div.ui.pointing.menu a{
  width: 16.7% !important;
}

.FlatForm div.ui.pointing.menu a.active{
  color: teal !important;
}