.FlatDashboardRow{
  padding-top: 60px;
}

.FlatDashboard{
  background-image: url('/assets/dsgn/bg/texture.jpg');
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
