.navbar{
  height: 50px;
  // background-color: #263238!important;
  background-image: linear-gradient(to top, #263238, #2a373e, #2e3c43, #334249, #37474f) !important;
  color: white !important;
  border-bottom: 1px solid #999 !important;
  padding: 0 !important;
  font-family: 'Roboto', sans-serif !important;
  // box-shadow: 1px 1px 2px black  !important;
}

.szr-proxipiso, .szr-navbar-displayname{
  font-weight: 200 !important;
}
