.hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url('/assets/dsgn/bg/room.jpg');
  width: 100%;
  height: 100vh !important;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.szr-btn-hero{
  background-color: #607D8B !important;

}

.szr-welcome{
  font-weight: 200 !important;
}

.szr-welcome{font-size: 6em;}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .szr-welcome{font-size: 6em;}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .szr-welcome{font-size: 6em;}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .szr-welcome{font-size: 6em;}

}

/* Extra large devices (large desktops, 1200px and up)
// (you don't need this one unless you want something different from LG)
@media (min-width: 1200px) {
  html {
      font-size: 1.6rem;
  }
} */