$slickHeight : 350px;

.image-gallery-slide img{
  height: $slickHeight !important;
  max-height: $slickHeight !important;
}

.szr-card{
  box-shadow: 1px 1px 1px #555;
}

.slick{
  height: $slickHeight !important;
  max-height: $slickHeight !important;  
}

.szr-flat-item-header{
  background-color: #263238 !important;
}

.szr-flat-item-header span{
  background-color: #263238 !important;
  font-weight: 200 !important;
  color: white !important;
  border-bottom: '1px solid #bbb';
  font-size: 1em;
}

.featured_item{
  position: relative;
  height: $slickHeight !important;
  max-height: $slickHeight !important;  
}

.featured_image{
  height: $slickHeight !important;
  max-height: $slickHeight !important;  
  background-position: center  !important;
  background-size: cover  !important;
  background-repeat: no-repeat !important; 
}

.slick-prev,
.slick-next{
  z-index:10 !important;
  width: 50px;
  height: 100%;
}

.slick-prev{
  left: 0px !important;
  /*  background: linear-gradient(to left, rgba(0, 77, 64, 0), rgba(0, 77, 64, 1)) !important; */
  background: rgba(255, 255, 255, 0.2) !important;
}

.slick-next{
  right: 0px !important;
  /* background: linear-gradient(to right, rgba(0, 77, 64, 0), rgba(0, 77, 64, 1)) !important;  */
  background: rgba(255, 255, 255, 0.2) !important;
}