html, body{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  background-color: #777 !important;
  box-sizing: border-box !important;
}

.szr-flat-item-header{
  background-color: #263238 !important;
}

.szr-flat-item-header span{
  background-color: #263238 !important;
  font-weight: 200 !important;
  color: white !important;
  border-bottom: '1px solid #bbb' !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select,
.ui.selection.dropdown {
  outline: none !important;
  box-shadow:none !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #aaa !important;
  font-weight: 300 !important;
  background-color: #fafafa !important;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  textarea:focus,
  select:focus,
  .ui.selection.dropdown:focus{
    color: black;
    border-radius: 0px  !important;
    background-color: #f1f1f1 !important;
    border-bottom: 1px solid #263238 !important;    
  }   

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: none;
    cursor: pointer;
  }

  /*
  input[type="checkbox"]{
    display: block !important;
  }  
  */
  
input:focus::-webkit-input-placeholder { color: rgb(179, 179, 179); }
input:focus:-moz-placeholder { color: rgba(0, 0, 0, 0.2); } /* FF 4-18 */
input:focus::-moz-placeholder { color: rgba(0, 0, 0, 0.2); } /* FF 19+ */
input:focus:-ms-input-placeholder { color: rgba(0, 0, 0, 0.2); } /* IE 10+ */

/* I leave the browser's field autocomplete ability
turned off: See for example TextInput.jsx --> autoComplete="off"
In case that I want to turn it on, I will add:


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: black;
  box-shadow: 0 0 0px 1000px #eee inset;
  -webkit-box-shadow: 0 0 0px 1000px #eee inset;
  transition: background-color 5000s ease-in-out 0s;
}
*/