.MyFlatsRow{
  padding-top: 60px;
}

.MyFlats{
  background-image: url('/assets/dsgn/bg/sun-window.jpg');
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

//Width of the tab pane. We've got 3 tabs, so one tab will be
//of 100/6 % of the parent container width
.MyFlats div.ui.pointing.menu a{
  width: 33.3% !important;
}

.MyFlats div.ui.pointing.menu a.active{
  color: teal !important;
}